build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

**/notebooks

# Ignore shell scripts
*.sh
SIF_DATA_TROPOMI/
# Ignore swap files
*.swp

# Ignore vscode directory
.vscode/
dinov3/
.dinov3/*

dinov3_vitl16_pretrain_sat493m-eadcf0ff.pth
dinov3_vits16_pretrain_lvd1689m-08c60483.pth

outputs_full/
outputs_probe_knn/
outputs_test/

tmp/
*.pth
pics/
training_metrics.json   
*.pyc
*.distcp
.metadata 
experiments/
*.distcp
